<div id="work-session-window" class="full-height">
  <div class="red d-flex justify-content-center h-100">
    <div class="row w-100">
      <div class="green col-6">
        <div class="blue d-flex flex-column justify-content-center" style="height: 50%">
          <div class="red d-flex justify-content-center align-items-center" style="height: 50%">  <%# This height might be wrong because there is no defined height for parent %>
            <div>
              <h1>
                <%= @work_session.task.title %>
              </h1>
            </div>
          </div>
          <div class="red d-flex justify-content-center align-items-center" style="height: 50%"> <%# This height might be wrong because there is no defined height for parent %>
            <div>
              <h1>
                Tags:
                <%= @work_session.task.category %>
              </h1>
              <h1>
                <%= @work_session.task.minutes %>
                minutes
              </h1>
            </div>
          </div>
        </div>
        <div class="blue" style="height: 50%">
          <div class="red d-flex align-items-center justify-content-center" style="height: 25%">  <%# This height might be wrong because there is no defined height for parent %>
            <%= button_to "Play", timeboxes_start_path, class: "btn btn-info ml-3" %>
            <div class="btn btn-danger ml-3 play-button">
            <%# just testing it on this clean button %>
              Stop
            </div>
          </div>
          <div class="red d-flex align-items-center justify-content-center" style="height: 50%">  <%# This height might be wrong because there is no defined height for parent %>
            <h1>Progress Bar</h1>
          </div>
          <div class="red d-flex align-items-center justify-content-center" style="height: 25%">  <%# This height might be wrong because there is no defined height for parent %>
            <div class="btn btn-primary">
              Mark as done
            </div>
          </div>
        </div>
      </div>
      <div class="green col-6">
        <div class="blue d-flex align-items-center justify-content-end" style="height: 10%">
          <div>
            <button type="button" class="btn btn-primary mx-4" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add</button>
            <%= render "timeboxes/form" %>
          </div>
        </div>
        <div class="blue d-flex flex-column justify-content-center align-items-center" style="height: 90%">
          <% order = 1 %>
          <% @timeboxes.each do |timebox| %>
            <% timebox.order = order %>
            <% timebox.save %>
            <% order += 1 %>
            <div class="red" style="height: 25%; width: 95%">  <%# This height might be wrong because there is no defined height for parent %>
              <div class="card-timebox">
                <h2><%= timebox.title %></h2>
                <p class="remainder" data-end-time="<%= timebox.end_time %>" hidden></p>
                <p class="start-time" data-start-time="<%= timebox.start_time %>" hidden></p>
                <p class="timemilliseconds" data-milliseconds="<%= (timebox.duration * 1000)/ %>" hidden></p>
                <p class="timeminutes" data-minutes="<%= timebox.minutes %>" hidden></p>
                <p class="timeseconds" data-seconds="<%= timebox.seconds %>" hidden></p>
                <%= render "shared/timer", timebox: timebox %>
                <% if timebox.seconds == 0 %>
                  <h3><%= timebox.minutes %>min</h3>
                <% else %>
                  <h3><%= timebox.minutes %>min <%= timebox.seconds %>secs</h3>
                <% end %>
                <%= link_to timeboxes_path(timebox), method: :delete, id: timebox.id, data: {confirm: "Are you sure?"}, class: "card-remove-link" do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
