<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for(task) do |f| %>

            <div class="form-inputs">
              <%= f.input :title, label: "Title" %>
              <%= f.input :minutes, label: 'Min/Sec', input_html: {class: 'span3', maxlength: 1}, wrapper_html: {class: 'controls controls-row'} do %>
                <%= f.input_field :minutes %>
                <%= f.input_field :seconds %>
              <% end %>
              <%= text_field_tag 'task[new_label]', nil, placeholder: 'Name of new Label' %>
              <%= number_field_tag 'task[new_label_goal]', nil, placeholder: 'Goal of new Label' %>
              <%= f.collection_check_boxes :label_ids, Label.all, :id, :name %>
              <div class="modal-footer">
                <%= f.submit 'Save Changes', class: 'btn btn-primary'%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
