<div class="navegation">
  <ul>
    <li>
      <div class="burger-container" onclick="toggleMenu();">
        <i class="fas fa-bars"></i>
      </div>
      <span class="title d-none"><h2>Kinoko</h2></span>
    </li>

  <li>
    <a href="<%= dashboard_path %> ">
      <span><i class="fas fa-home"></i></span>
      <span class="title d-flex align-items-center">Home</span>
    </a>
  </li>

  <li>
    <a href="<%=  %>">
      <span><i class="fas fa-tree"></i></span>
      <span class="title d-flex align-items-center">Dashboard</span>
    </a>
  </li>

  <%# <li>
    <a href="">
      <span><i class="fas fa-tasks"></i></span>
      <span class="title d-flex align-items-center">Task</span>
    </a>
  </li>

  <li>
    <a href="<%= work_sessions_path(work_session) %>
      <%# <span><i class="fas fa-tablet-alt"></i></span>
      <span class="title d-flex align-items-center">Work session</span>

    </a>
  </li> %>

    <li>
      <a href="<%= statistics_path %>">
        <span><i class="fas fa-chart-line"></i></span>
        <span class="title d-flex align-items-center">Statistics</span>
      </a>
    </li>

    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span><i class="fas fa-sign-out-alt"></i></span>
        <span class="title d-flex align-items-center">Sign out</span>
      <% end %>
    </li>

  </ul>
</div>
