<% order = 1 %>
<% @timeboxes.each do |timebox| %>
  <% timebox.order = order %>
  <% timebox.save %>
  <% order += 1 %>
  <div class="card-timebox flex flex-col w-full p-4">

    <div class="flex justify-between">
      <h4>
        <%= timebox.title %>
      </h4>
      <%= link_to timeboxes_path(timebox), method: :delete, id: timebox.id, data: {confirm: "Are you sure?"}, class: "card-remove-link" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>

    <p class="remainder" data-timeboxduration="<%= (timebox.duration * 1000) %>" hidden></p>
    <p class="settimes" hidden></p>
    <p class="time-minutes" data-minutes="<%= timebox.minutes %>" hidden></p>
    <p class="time-seconds" data-seconds="<%= timebox.seconds %>" hidden></p>

    <div class="flex justify-end">
      <%= render "timer", timebox: timebox %>
    </div>

  </div>
<% end %>
