<div class="h-screen flex flex-col lg:flex-row items-center mx-20 " id="work-session">
    <div class="basis-1/2 h-full flex flex-col
    justify-center items-center space-y-4">
          <%= render "work_session_task_info" %>
    </div>

    <div class="basis-1/2 flex flex-col justify-center items-center">

          <div class="flex justify-end w-4/5 mb-4">
            <%= link_to "Back", "/dashboard", class: "btn btn-primary" %>
            <label for="create-timebox" class="btn btn-primary mx-4 modal-button">
              Add
            </label>
          </div>

          <div class="timeboxes-list w-4/5 space-y-4">
            <%= render "timeboxes" %>
          </div>
    </div>
</div>

<%= audio_tag "shien.mp3", id: "shien" %>
<%= render "timeboxes/new_modal" %>
