<%# task %>
<div class="task-card mt-6 d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-between mx-4 mt-2">
    <h5>
      <%= task.title %>
    </h5>
  <div>
  <div style="position:absolute; left:24px; top:40px;">
    <h6>
      <% task.labels.each do |label| %>
     #<%= label.name %>
      <% end %>
    </h6>
  </div>
      <%= render "shared/dropdown_menu", task: task%>
      <%= render "tasks/edit_modal", task: task %>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-sm-between ">
      <div class="mb-4 ml-4">
        <p> <%= task.minutes %> mins </p>
      </div>
        <% if task.work_session != nil %>
          <%= link_to work_session_path(task.work_session), class: "btn btn1-primary btn-sm" do %>
            Start Timebox
          <% end %>
        <% else %>
          <%= link_to task_work_sessions_path(task), method: :post, class: "btn btn1-primary btn-sm" do %>
            Start Timebox
          <% end %>
        <% end %>
    </div>
  </div>
</div>
