<div class="login min-h-screen flex justify-center items-center ">
    <div class="form-login bg-white">
      <h2 class="text-black mb-4">Welcome!</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs space-y-4">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email",
                    class:'flex flex-col rounded-lg'} %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password",
                    class:'flex flex-col rounded-lg' } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary my-2" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
</div>
