<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if @hide_navbar %>
      <main class="">
        <%= yield %>
      </main>
    <% else %>
      <%= render "shared/navbar" %>
      <main class="main active">
              <%= yield %>
      </main>
    <% end %>

    <%= render 'shared/flashes' %>
    <% unless @hide_navbar %>
      <script>
        function toggleMenu() {
          let burger = document.querySelector('.burger-container');
          let navegation = document.querySelector('.navegation');
          let main = document.querySelector('.main');
          let title = document.querySelector('.navegation h2');
          title.classList.toggle('d-none');
          burger.classList.toggle('active');
          navegation.classList.toggle('active');
          main.classList.toggle('active');
        }

      </script>
    <% end %>
  </body>
</html>
