<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if @hide_navbar %>
      <main>
        <%= yield %>
      </main>
    <% else %>
      <%= render "shared/navbar" %>
      <main class="main active bg-[#0B021F]">
        <%= yield %>
      </main>
    <% end %>

    <%= render 'shared/flashes' %>
  </body>
</html>
