<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <% if @hide_navbar %>
          <%= yield %>
      <% else %>
        <%= render "shared/navbar" %>
        <div class="main active">
          <%= yield %>
        </div>
      <% end %>
    </div>

    <%= render 'shared/flashes' %>
    <% unless @hide_navbar %>
      <script>
        function toggleMenu() {
          let burger = document.querySelector('.burger-container');
          let navegation = document.querySelector('.navegation');
          let main = document.querySelector('.main');
          let title = document.querySelector('.navegation h2');
          title.classList.toggle('d-none');
          burger.classList.toggle('active');
          navegation.classList.toggle('active');
          main.classList.toggle('active');
        }

      </script>
    <% end %>
  </body>
</html>
